<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rosebells website</title>
</head>
<body styles="background-image: url(construction.jpg);">
    <h1> Welcome To Rosebells Academy</h1>
    <hr>
    <p>Rosebells is a Group of Companies created out of the need to support enterprises and institutions through efficient supply of quality products and services.</p>

        <img src="/images/construction.jpg"> 

    <p>We offer services in the following areas:</p>

</body>
</html>
